#dashBoad {
        -fx-background-color: #D9C0A8; /* Light blue */
    }
#inpanel {
        -fx-background-color: #F5EFEF; /* Light blue */
    }

    #table {
            -fx-background-color: #faf7f7; /* Light blue */
        }



    #tb{
            -fx-background-color: #; /* Light blue */
        }



