 #dashBoad {
        -fx-background-color: #D9C0A8; /* Light blue */
    }
#inpanel {
        -fx-background-color: #F5EFEF; /* Light blue */
    }

    #panelAlert{
    -fx-background-color:#4B3543

    }